<div id="footer">
        <p>
            Copyright &copy; {:date('Y')} , Mango All Rights Reserved.
        </p>
        <a href="#" class="gototop">
            <i class="fa fa-arrow-up"></i>
        </a>
    </div>
    <script src="__ROOT__/js/jquery-2.1.1.min.js"></script>
    <script src="__ROOT__/js/bootstrap.min.js"></script>
    <script src="__ROOT__/js/jquery.validate.min.js"></script>
    <script src="__ROOT__/js/jquery.gritter.min.js"></script>
    <script src="__ROOT__/js/admin.js"></script>