<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="Description" content=""/>
    <meta name="Keywords" content=""/>
    <meta name="author" content="Mango"/>
    <title>全球企业服务平台</title>
    <link rel="stylesheet" type="text/css" href="css/css.css"/>
</head>
<body>
   <div class="bg2">
    <a class="back" href="javascript:history.go(-1);"></a>
    <div class="num">
        <div class="bg_top">
            <img src="images/s2/bg3_1.jpg" width="100%">
        </div>
        <span class="blocks"><b></b></span>
    </div>
    <div class="num">
        <div class="bg_top">
            <img src="images/s2/bg3_2.jpg" width="100%">
            <span class="more"></span>
        </div>
        <span class="blocks"><b></b></span>
        <div class="s_01">
            <i class="block"></i>
            <span class="s_01_2"></span>
        </div>
    </div>

    <div class="num">
        <div class="bg_top"><img src="images/s2/bg3_3.jpg" width="100%"><span class="more m_01"></span></div>
        <span class="blocks"><b></b></span>
            <div class="s_01">
                <i class="block"></i>
                <div class="wenzi">
                <div class="ss_01_1 s1"><span class="tit">产品定制</span>采用灵活的开发模式，与客户共同探讨，量身定制，力求满足企业客户的特殊需求。</div>
                <div class="ss_01_1 s1"><span class="tit">红利分享</span>引进众筹、股权交易等多种金融创新模式，采用合作开发与持有的形式，与客户共享物业增值红利。</div>
            </div>
        </div>
    </div>
    <div class="num">
        <div class="bg_top"><img src="images/s2/bg3_4.jpg" width="100%"><span class="more m_01"></span></div>
        <span class="blocks"><b></b></span>
            <div class="s_01">
                <i class="block"></i>
                <div class="wenzi w2">
                <div class="ss_01_1 s2"><span class="tit t1">企业招商</span>为投资客户提供招商招租服务；为进驻企业提供合作商资源；引进优质企业，解决后顾之忧，拉动资产升值。</div>
                <div class="ss_01_1 s2"><span class="tit t1">政务搭桥</span>基于集团在各地的良好政府信誉，为入驻企业牵线搭桥，提高行政审批率，争取入驻企业优惠利好政策，为企业营造良好的政务环境。</div>
                <div class="ss_01_1 s2"><span class="tit t1">融资理财</span>利用集团与各类金融机构的良好合作关系，以及集团金融控股、海外企业的资源，为入驻企业提供更为高效的融资理财服务。</div>
                <div class="ss_01_1 s2"><span class="tit t1">企业宣传及培训</span>依托集团营销条线强大的品牌形象策划能力和丰富的媒体资源，为中小企业引荐资源，降低成本，并提供多种培训、讲座服务。</div>
            </div>
        </div>
    </div>
        <div class="num">
        <div class="bg_top"><img src="images/s2/bg3_5.jpg" width="100%"><span class="more m_01"></span></div>
        <span class="blocks"><b></b></span>
            <div class="s_01">
                <i class="block"></i>
                <div class="wenzi w3">
                <div class="ss_01_1 s3"><span class="tit t1">办公集成</span>为企业提供公共的、集成化的增值服务，包括服务室办公室、虚拟办公室、企业会客厅、视频会议室、超级前台、超级秘书、超级文印间等功能。</div>
                <div class="ss_01_1 s3"><span class="tit t1">移动办公</span>利用写字楼的智能设置，为企业提供云储存、虚拟桌面、数据中心、移动工位、移动考勤等服务，提高入驻企业的办公效率。</div>
                <div class="ss_01_1 s3"><span class="tit t1">员工生活健康</span>为员工提供人性化的贴心服务，包括健康监测、空气监测、睡眠中心、员工食堂、儿童托管服务等。</div>
            </div>
        </div>
    </div>
            <div class="num">
        <div class="bg_top"><img src="images/s2/bg3_6.jpg" width="100%"><span class="more m_01"></span></div>
        <span class="blocks"><b></b></span>
            <div class="s_01">
                <i class="block"></i>
                <div class="wenzi w3">
                <div class="ss_01_1 s3"><span class="tit t1">商魔方</span>利用绿地商业集团“商魔方”配套资源，为企业提供商业配套服务，解决客户一公里内商业需求。</div>
                <div class="ss_01_1 s3"><span class="tit t1">酒店旅游</span>依托集团庞大的酒店网络，为企业量身定制酒店入住及周边旅游服务，并提供专享的优惠价格。</div>
                <div class="ss_01_1 s3"><span class="tit t1">进口消费品</span>依托绿地集团与保税港、贸易区的资源优势，为企业提供进口商品的服务，获取优质的进口消费品。</div>
            </div>
        </div>
    </div>
        <div class="num">
        <div class="bg_top">
            <img src="images/s2/bg3_7.jpg" width="100%">
            <span class="more m_01"></span>
        </div>
        <span class="blocks"><b></b></span>
        <div class="s_01">
            <i class="block"></i>
            <span class="s_01_3"></span>
        </div>
    </div>
        <div class="num">
        <div class="bg_top"><img src="images/s2/bg3_8.jpg" width="100%"><span class="more m_01"></span>
        </div>
        <span class="blocks"><b></b></span>
            <div class="s_01">
                <i class="block"></i>
                <div class="wenzi w3">
                <div class="ss_01_1 s1"><span class="tit t1">商魔方</span>绿地集团GOC海外置业一站式服务平台，帮助企业规避风险，守住财富。</div>
                <div class="ss_01_1 s1"><span class="tit t1">酒店旅游</span>为企业客户提供全资源解决方案的服务。</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    $(function(){
     $('.more').click(function(event) {
        $(this).parent().siblings(".s_01").fadeIn(1000);
        $('body').height($('.bg_top').height());
        $('body').css({'overflow':'hidden'});
    });

     $('.s_01 .block').click(function(e) {
        $(this).parent('.s_01').slideUp('slow');
        $('body').height('auto');
        $('body').css({'overflow':'auto'});
    });

     // $('.s_01').on('touchmove',function(e){
     //    e.preventDefault();
     // });
 });

</script>
<div style="display:none">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?5b1a629793e88cbec6645243a995fcdc";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>

</body>
</html>