<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title>芒果介绍</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="all">
</head>
<body>
    <include file="Public/loading" />
    <div class="container">
        <div class="main activity_detail">
            <div class="title">
                <div class="logo"></div>
                <span>活动</span>详情
            </div>
            <div class="content">
                <h3><span>{$data.title}</span></h3>
                {$data.content}
            </div>
        </div>
        <include file="Public/menu" />
    </div>
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/minisite.js"></script>
    <script type="text/javascript">
    
        FCAPP.Common.hideLoading();
        $(function(){
            $('.menu_btn').click(function(event) {
                /* Act on the event */
                $('.menu_panel').toggleClass('hide');
                $(this).toggleClass('active');
                $('.bt-menu div').removeClass('bt_bg');
                $('.contact').addClass('hide');
            }); 
            $('.bt-menu a').click(function(event) {
                /* Act on the event */
                $('.bt-menu div').removeClass('bt_bg');
                $(this).parent().addClass('bt_bg');
            });
            $('#contact a').click(function(event) {
                /* Act on the event */
                $('.contact').removeClass('hide');
            });
        });
    </script>
</body>
</html>